center{
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    border: 20px;
    padding: 40px;
    color: #808080;
}

.centered-box{
    margin: 0 auto;
    width: 50%;
    border-radius: 10px;
    background-color: bisque;
}