center{
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    border: 20px;
    padding: 40px;
    color: #808080;
}
.block{
    border: radius 90px;;
    background-color: bisque;
    margin: 20px;
    border: 20px;
    padding: 40px;
}